body {
      color: #DFEEEA;
      background-color: #2F5D62;
    }

    hr {
      border-style: dotted none none;
      border-color: #A7C4BC;
      width: 20%;
      height: 0px;
      border-width: 10px;
    }

    img {
      height: 200px;
    }
    h1 {
        color: #5E8B7E;
    }
    h3 {
        color: #5E8B7E;
    }